@model IEnumerable<Product>

@{
   ViewData ["Title"] = "Home Page"; 
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.ProductId)</th>               
            <th>@Html.DisplayNameFor(m => m.Image)</th>              
            <th>@Html.DisplayNameFor(m => m.Name)</th>
            <th>@Html.DisplayNameFor(m => m.Price)</th>
                
        </tr>
    </thead>
    <tbody>
        @foreach (var prd in @Model)
        {
            <tr>
                <td>
                    @prd.ProductId
                </td>
                <td>
                    @prd.Image
                </td>
                <td>
                    @prd.Name
                </td>
                <td>
                    @prd.Price
                </td>
            </tr>
        }
    </tbody>
</table>